@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, button {
  font-family: 'Press Start 2P', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(121, 9, 31);
  color: beige;
}

canvas.board {
  width: 70vmin; 
  height: 70vmin;
  background-color: rgb(241, 241, 227);
  border: 4px dashed rgb(2, 24, 5);
}


/* SCORES */
#game-info-panel {
  display: flex;
  gap: 2rem;
}

#score-board, #hunger-meter {
  display: flex;
}

#gameover-dialog {
  padding: 20px;
  margin: auto;
  background-color: rgb(2, 24, 5);
  color: beige;
  border: 4px dashed #ce294a;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 4px 12px;
  border: 2px solid rgb(2, 24, 5);
}

